@tailwind base;
@tailwind components;

.app {
  @apply flex flex-1;
}

.sidebar {
  @apply h-screen;
  width: 30vw;
}

.sidebar-header {
  @apply text-center text-2xl mt-4 mb-2 font-medium;
}

.sidebar-latlng {
  @apply text-center mt-2 mb-2;
  font-weight: lighter;
}

.sidebar-err {
  @apply text-center mt-2 mb-2;
  color: #a82f2f;
}

.input {
  @apply mt-1 mb-4 block w-full rounded-md border-gray-300 shadow-sm;
}

.input:focus {
  @apply border-indigo-300 ring ring-indigo-200 ring-opacity-50;
}

.button {
  @apply px-4 py-2 w-48 h-12;
  @apply bg-indigo-500 shadow-lg rounded-lg;
  @apply font-bold text-white;
}

.button:hover {
  @apply bg-blue-700;
}

.button:focus {
  @apply outline-none shadow-md;
}

.navigation {
  @apply px-2 py-1;
  @apply flex-1;
}

.navigation-tab {
  @apply px-2 py-1 ml-2 h-12;
  @apply bg-pink-500 rounded-full;
  @apply font-bold text-white text-sm ring-opacity-50 ring-4;
}

.navigation-tab:hover {
  @apply bg-pink-700;
}

.navigation-tab:focus {
  @apply outline-none shadow-md;
}

.form-submit-header {
  @apply text-sm;
}

.route-statistic {
  @apply mx-4 my-2 p-2;
  @apply bg-gray-700 rounded-md shadow-md;
}

.route-statistic-header {
  @apply text-green-500;
}

.route-statistic-header span {
  @apply text-white;
}

.help-modal {
  @apply absolute z-50 w-1/2 h-1/2 py-4 px-8;
  @apply bg-white rounded-xl;
  @apply overflow-y-auto;
}

.help-modal-header {
  @apply text-center text-2xl;
}

.help-modal-text {
  @apply my-4;
}

.sidebar-help {
  @apply flex m-2 mr-4 h-8 justify-end;
}

.help-label {
  @apply mr-2 text-lg;
}

.help-icon {
  @apply w-8 h-8;
}

@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  label,
  span,
  select,
  button {
    font-family: 'Baloo Chettan 2';
    font-weight: 400;
  }
}
